@model IEnumerable<Karaokedigital.Models.CupModel>

@{
    ViewData["Title"] = "Cups";
}

<div>
    <partial name="NavBar" />
</div>

<h1>Cups</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CupID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cup)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CupID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cup)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
