@model IEnumerable<Karaokedigital.Models.RoleModel>

@{
    ViewData["Title"] = "Roles";
}

<div>
    <partial name="NavBar" />
</div>

<h1>Roles</h1>


<p class="mt-4">
    <a class="btn btn-glow" title="Add New" data-bs-toggle="tooltip" data-bs-placement="top" asp-action="CreateRole"><i class="fas fa-plus"></i></a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
