@model Karaokedigital.Models.CustomerTypeModel

@{
    ViewData["Title"] = "DetailsCustomerType";
}

<h1>Details CustomerType</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div  class="mb-4">
    <a class="btn btn-glow" href="EditCustomerType/@Model.CustomerTypeID" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
    <a class="btn btn-glow ml-2" asp-action="CustomerTypes" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
</div>
