 @model Karaokedigital.Models.RoleModel

@{
    ViewData["Title"] = "DetailsRole";
}

<h1>Details Role</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div class="mb-4">
    <a class="btn btn-glow" href="EditRole/@Model.RoleID" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
    <a class="btn btn-glow ml-2" asp-action="Roles" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
</div>
