@model Karaokedigital.Models.ReservationStateModel

@{
    ViewData["Title"] = "DetailsReservationState";
}

<h1>Details Reservation State</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStateID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStateID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<div  class="mb-4">
    <a class="btn btn-glow" href="EditReservationState/@Model.ReservationStateID" title="Edit" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-info fa-solid fas fa-pencil-alt"></i></a>
    <a class="btn btn-glow ml-2" asp-action="ReservationStates" title="List" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bg-sky far fa-list-alt"></i></a>
</div>
