@{
    ViewData["Title"] = "Home Page";
}

<style>

    .footer {
        position: relative!important;
        margin-bottom: 0px;
        width: 100%;
        white-space: nowrap;
        /*line-height: 60px;*/ /* Vertically center the text there */
    }

    .container-fluid {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

</style>
<section class="showcase">

    <div class="background-container">
        <img>
    </div>

    <div class="content">
        <img id="logo" src="~/Img/Logo/mic.jpg" class="oggetto"><br><br>
        <h1 id="intestazione" class="">Karaoke Digital</h1>
    </div>

    <div class="the-button-wrapper" style="margin-top:250px;">
        <div class="the-button-light">Live demo</div>
    </div>

</section>



