

@{
    ViewData["Title"] = "Work";
}


<!-- css -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">

<!-- start animation on scroll -->
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
<!-- end animation on scroll -->



<link href="~/css/work.css" rel="stylesheet" />

<style>

    .footer {
        position: relative !important;
        margin-bottom: 0px;
        width: 100%;
        white-space: nowrap;
        /*line-height: 60px;*/ /* Vertically center the text there */
    }

    .container-fluid {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
</style>


<div class="pimg1">
    <div class="ptext">
        <span class="border p-4">
            Lavora con noi
        </span>
        <div class="mt-4 mb-4 text-center animated heartBeat slow infinite m-auto w-50">
            <a href="#section-one"><i id="goDown" class="fas fa-chevron-down cursor-pointer sunset"></i></a>
        </div>
    </div>
</div>


<section id="section-one" class="section section-dark">
    <h2 class="mb-4">Innovazione</h2>
    <p class="text-justify">
        Il sistema karaokedigital è un servizio nuovo ed esclusivo ma soprattutto è un settore in forte e rapida crescita.<br>
        Possiede un ampio mercato di potenziali clienti in tutto il mondo grazie alla sua struttura ed architettura flessibile e facilmente manutenibile ma soprattutto customizzabile.
        Tutto il sistema è centrato sulla sicurezza, sul minimalismo grafico e in primis sulle features efficenti e in continua evoluzione proprio grazie alla struttura Users and Customers oriented.
    </p>

    <div class="py-5" id="testimonials">
        <div class="container-fluid mt-4">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 p-4 text-center">
                    <i class="fas fa-chart-line rounded-circle"></i>
                    <p class="mt-4 mb-1">
                        <b class="num h1">705</b>
                    </p>
                    <p class="mt-4 mb-0 h3">Startup</p>
                </div>
                <div class="col-lg-3 col-md-6 p-4 text-center">
                    <i class="fas fa-briefcase rounded-circle"></i>
                    <p class="mt-4 mb-1">
                        <b class="num h1">267</b>
                    </p>
                    <p class="mt-4 mb-0 h3">Customers</p>
                </div>
                <div class="col-lg-3 col-md-6 p-4 text-center">
                    <i class="far fa-handshake rounded-circle"></i>
                    <p class="mt-4 mb-1">
                        <b class="num h1">17</b>
                    </p>
                    <p class="mt-4 mb-0 h3">Partners</p>
                </div>
                <div class="col-lg-3 col-md-6 p-4 text-center">
                    <i class="fas fa-file-contract rounded-circle"></i>
                    <p class="mt-4 mb-1">
                        <b class="num h1">2037</b>
                    </p>
                    <p class="mt-4 mb-0 h3">Country</p>
                </div>
            </div>
        </div>
    </div>


</section>

<div class="pimg2">
    <div class="ptext">
        <span class="border p-4">
            Esclusività
        </span>
    </div>
</div>

<section class="section section-light">
    <h2 class="mb-4">Cos'è il sistema karaokedigital?</h2>
    <p class="text-justify">
        E' lo sviluppo di un sistema informatico per la gestione e l’erogazione dei contenuti multimediali nell’ambito del
        servizio di intrattenimento del Karaoke.
        L’ideazione, la descrizione dello stato attuale del karaoke, e l’esigenza di applicare le attuali modifiche,
        mirate soprattutto ad apportare un significativo ed innovativo cambiamento di
        tutto il sistema di gestione del sistema karaoke, sono frutto della mia personale esperienza.
        L’ingegno, che ha favorito la nascita dell’idea, è scaturito da una reale necessità di semplificazione
        di un lavoro che si attua ancora oggi in maniera ripetitiva e del tutto manuale.
        Quell’ingegno unito alla creatività ha dato vita alla scintilla che mi ha spinto a voler proporre l’idea
        del progetto Karaokedigital e a volerla portare avanti, scintilla alimentata dalla passione verso la tecnologia e
        soprattutto dalla propensione allo sviluppo mirato a rendere le cose nel loro stato migliore possibile,lo stato dell'arte
        in nome del Progresso.
    </p>
</section>

<div class="pimg3">
    <div class="ptext">
        <span class="border p-4">
            Creatività
        </span>
    </div>
</div>

<section class="section section-light">
    <h2 class="mb-4">Ideazione o idea in azione?</h2>
    <p class="text-justify">
        Il Karaokedigital è un’evoluzione dell’attuale servizio karaoke.
        Nasce dall’idea di rendere automatizzato il sistema di gestione karaoke nei locali, ossia di rappresentare in
        digitale la prenotazione delle basi che verranno cantate dai clienti/consumatori dei locali dove si svolge
        attività di karaoke, mediante l’accesso alla rete nel portale karaokedigital.it o all’applicazione
        karaokedigital nello smartphone, nel quale si potrà navigare attraverso la rete dei locali e scegliere il
        locale tra quelli affiliati tramite l'innovativo inquadramento di un codice qr.
    </p>
</section>

<div class="pimg4">
    <div class="ptext">
        <span class="border p-4">
            Arte
        </span>
    </div>
</div>

<section class="section section-light">
    <h2 class="mb-4">Topic</h2>
    <p class="text-justify">
        Attualmente il sistema di gestione del karaoke avviene in maniera del tutto manuale e
        verbale.
        La scelta e la prenotazione della base da parte del cliente avviene mediante l’uso di
        bigliettini cartacei, o a voce, e in taluni casi, se il karaokista è tecnologicamente
        avanzato, tramite la creazione di una lista elettronica delle prenotazioni, composta
        sempre in maniera manuale attraverso la battitura sulla tastiera di un computer del
        titolo della canzone, dell’autore, e del nome del cliente in un file di testo
        (ad esempio blocco note).
        Anche la rimozione delle basi già cantate avviene allo stesso modo, senza che queste
        vengano memorizzate, rischiando di creare ripetizioni che possono annoiare la fedele
        clientela.
    </p>

    <p class="text-justify">
        In secondo luogo la scelta delle basi per i clienti stessi avviene in maniera abbastanza
        scomoda;
        nei casi fortunati il karaokista possiede un catalogo cartaceo, prestampato,
        organizzato in ordine alfabetico, e diviso per categoria di autori italiani e stranieri.
        In questo tipo di cataloghi però gli aggiornamenti futuri e l’aggiunta di nuove basi
        altera il sistema di reperibilità dei titoli delle basi, ossia l’ordine pensato come indice
        dal punto di partenza del catalogo, cioè proprio l’ordine alfabetico.
        In quanto le integrazioni successive alla prima stampa dell’elenco non potranno
        essere inserite e indicizzate nel corretto ordine, ma solo inserite alla fine.
        Nei casi meno fortunati, invece, non esiste nessun catalogo e quindi il cliente deve
        ricordare a memoria titoli e artisti e talvolta la base richiesta non è nemmeno
        disponibile.
    </p>
</section>

<div class="pimg5">
    <div class="ptext">
        <span class="border p-4">
            Passione
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2 class="mb-4">Attenzione al cliente</h2>
    <p class="text-justify">
        Il punto dolente di maggiore rilevanza del sistema attuale della gestione del servizio
        karaoke è che il cliente è all’oscuro delle tempistiche di attesa prima che venga il suo
        turno, e molto spesso accade che sia costretto ad andarsene dal locale senza aver
        potuto usufruire della propria prenotazione, o per tempi lunghi d’attesa o perché
        dopo un certo orario il locale non può più fornire il servizio.
    </p>
    <p class="text-justify">
        Inoltre la gestione della coda delle prenotazioni non sempre avviene in maniera del
        tutto corretta, sia per poca onestà o per imprevisti tecnici accidentali.
    </p>
    <p class="text-justify">
        Un altro conseguente e sconveniente effetto dell’attuale conduzione del karaoke è
        che il cliente non può modificare o rettificare la propria prenotazione nell’immediato,
        ma deve sempre recarsi dal karaokista e dare comunicazione verbalmente, e
        attendere quindi che, il karaokista sia libero, che la base sia disponibile e non sia già
        prenotata da qualcun altro, e che il karaokista visioni manualmente la lista scritta
        base per base.
    </p>
</section>

<div class="pimg6">
    <div class="ptext">
        <span class="border p-4">
            Life Style
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2 class="mb-4">Destinatari</h2>
    <p class="text-justify">
        Principalmente il sistema Karaokedigital può essere destinato ai gestori di locali, pub, bar,
        ristoranti, pizzerie, hotel, centri di intrattenimento sociali e organizzatori di eventi e feste
        private (matrimoni, compleanni, battesimi, cresime, anniversari, addio al celibato/nubilato)
        Gestori di sale in affitto.
        Singoli privati, piccoli cantanti in proprio privi di attività, qualsiasi persona che voglia
        usufruire del servizio a conduzione familiare o a casa propria
    </p>
</section>

<div class="pimg7">
    <div class="ptext">
        <span class="border p-4">
            Pianificazione
        </span>
    </div>
</div>

<section class="section section-light">
    <h2 class="mb-4">Gli obiettivi del progetto</h2>
    <p class="text-justify">
        Semplificare, accelerare e far evolvere il processo di prenotazione delle basi karaoke per i
        clienti del locale che richiedono la base
    </p>
    <p class="text-justify">
        Creazione di un catalogo elettronico delle basi, sempre accessibile (da chiunque sia
        registrato e loggato al portale/applicazione del sistema karaokedigital), sempre aggiornato, e
        subito disponibile sullo smartphone
    </p>
    <p class="text-justify">
        Rendere sempre visibile e accessibile la schermata della coda delle prenotazioni in un
        monitor, nell’applicazione o nel portale
    </p>
    <p class="text-justify">
        Fare una stima del tempo di attesa del turno, visualizzando e sommando i tempi di durata
        delle basi precedenti già prenotate
    </p>
    <p class="text-justify">
        Rendere più onesto, corretto ed etico il processo di creazione della coda delle prenotazioni,
        dando la sicurezza ai clienti che il loro turno venga rispettato, senza il rischio che vengano
        favoriti clienti per conoscenza dei karaokisti o gestori del locale, o perché consumano
        maggiormente (se non per eventi speciali definiti, regolamentati, organizzati e correttamente
        comunicati a tutta la clientela).
    </p>
    <p class="text-justify">
        Dare visibilità ai locali affiliati, nel portale e durante le campagne pubblicitarie del sistema
    </p>
    <p class="text-justify">
        Abbattere i costi di gestione del mantenimento dei karaokisti
    </p>
</section>

<div class="pimg8">
    <div class="ptext">
        <span class="border p-4">
            Requisiti
        </span>
    </div>
</div>

<section class="section section-light">
    <h2 class="mb-4">Requisiti funzionali per gli affiliati</h2>
    <p class="text-justify">
        • Connessione Internet
    </p>
    <p class="text-justify">
        • 2 schermi monitor (minimo)
    </p>
    <p class="text-justify">
        • 1 Computer
    </p>
    <p class="text-justify">
        • Smartphone o Tablet
    </p>
    <p class="text-justify">
        • 2 microfoni (minimo)
    </p>
    <p class="text-justify">
        • Mixer
    </p>
</section>

<div class="pimg1">
    <div class="ptext">
        <a asp-action="Plans">
            <span class="border p-4">
                I nostri piani
            </span>
        </a>
    </div>
</div>

<a href="#logo" id="up"><i class="fas fa-chevron-up"></i></a>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script src="~/js/pulsanteTornaSu.js"></script>

<script>
    $(".num").counterUp({ delay: 10, time: 2000 });

    $("#goDown").hover(function () {
        $('body,html').animate({ scrollTop: $("#section-one").offset().top }, 1500);
    });

    $("#up").hover(function () {
        $('body,html').animate({ scrollTop: 0 }, 1500);
    });
</script>