/* input:focus {
    outline:none;
} */

.w-45{
    width:45px;
}

a {
    text-decoration: none !important;
}

    a:hover {
        color: #333 !important;
    }

.div-container {
    background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
    background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
    background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
}



footer {
    width: 100%;
}

.footer {
    background: #050607;
}

.footer h2 {
        /* color:#212529; */
        color: #000;
        text-shadow: 1px 1px 1px #7b4397;
        font-size: 1.4rem;
}

.bg-navy {
    background-color: #001c40!important;
}

.bg-lilla {
    background-color: #DF73FF!important;
}


.bg-purple {
    background-color: #1b1a2a;
}

.bg-peach-gradient {
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.bg-melma {
    background-color: rgba(19,38,48,0.6);
}

.bg-rainbow {
    background: linear-gradient(to right, #7b4397 20%, #dc2430 30%, #dc2430 20%, #7b4397 80%);
    background-size: 160% auto;
}

.sunset {
    background: linear-gradient(to right, #7b4397 20%, #dc2430 40%, #dc2430 60%, #7b4397 80%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 12s linear infinite;
}

.btn-glow {
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

    .btn-glow i {
        line-height: 34px;
        background: deeppink;
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 12s linear infinite;
    }

    .btn-glow:hover:before {
        width: 55px;
        height: 55px;
        background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(190,44,108,1) 16%, rgba(214,38,210,1) 34%, rgba(253,29,29,1) 51%, rgba(253,47,171,1) 67%, rgba(253,102,56,1) 84%, rgba(252,176,69,1) 100%);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 1;
        transition: opacity .3s ease-in-out;
        
    }

    .btn-glow:hover > i {
        
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(190,44,108,1) 16%, rgba(214,38,210,1) 34%, rgba(253,29,29,1) 51%, rgba(253,47,171,1) 67%, rgba(253,102,56,1) 84%, rgba(252,176,69,1) 100%);
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        background-size: 400% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 12s linear infinite;
        animation: glow 1s ease-in-out infinite alternate;
    }

    .btn-glow:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;

    }

    .btn-glow:active {
        color: #000
    }

        .btn-glow:active:after {
            background: transparent;
        }

    .btn-glow:before {
        opacity: 1;
    }

    .btn-glow:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/* btn glow circle */


.btn-glow-circle {
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 90px;
}

.btn-glow-circle i {
    line-height: 34px;
    background: deeppink;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 12s linear infinite;
}

    .btn-glow-circle:hover:before {
        width: 55px;
        height: 55px;
        background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(190,44,108,1) 16%, rgba(214,38,210,1) 34%, rgba(253,29,29,1) 51%, rgba(253,47,171,1) 67%, rgba(253,102,56,1) 84%, rgba(252,176,69,1) 100%);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 1;
        transition: opacity .3s ease-in-out;
        border-radius: 90px;
    }

.btn-glow-circle:hover > i {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(190,44,108,1) 16%, rgba(214,38,210,1) 34%, rgba(253,29,29,1) 51%, rgba(253,47,171,1) 67%, rgba(253,102,56,1) 84%, rgba(252,176,69,1) 100%);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 12s linear infinite;
    animation: glow 1s ease-in-out infinite alternate;
}

    .btn-glow-circle:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 90px;
    }

.btn-glow-circle:active {
    color: #000;
}

    .btn-glow-circle:active:after {
        background: transparent;
    }

.btn-glow-circle:before {
    opacity: 1;
}

    .btn-glow-circle:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 90px;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}






/**/


    .btn-rainbow {
        background: linear-gradient(to right, #dc2430 20%, #7b4397 40%, #7b4397 60%, #dc2430 80%);
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 12s linear infinite;
        border-image: linear-gradient(to right, #dc2430 10%,#7b4397 100%);
        border-image-slice: 1;
        border-width: 3px;
        border-radius: 90px 90px;
    }
    /* .btn-rainbow::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(red, blue);
    content: '';
    z-index: -1;
    border-radius: 16px;
} */

    .btn-gradient-rainbow {
        width: 45px;
        height: 45px;
        background: linear-gradient(to right, #dc2430 20%, #7b4397 40%, #7b4397 60%, #dc2430 80%);
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 12s linear infinite;
        border-image: linear-gradient(to right, #dc2430 10%,#7b4397 100%);
        border-image-slice: 1;
        border-width: 3px;
    }

    .btn-gradient {
        width: 90px;
        height: 42px;
        padding: 1.5rem;
        background: linear-gradient(to right, red, purple);
        padding: 3px;
        border: none;
    }

    .btn-gradient div {
        height: 99%;
        background: #1b1a2a;
        padding: .375rem .75rem;
        font-size: 1rem;
        color: linear-gradient(to right, red, purple);
    }

        .btn-gradient span {
            background: linear-gradient(to right, #dc2430 20%, #7b4397 40%, #7b4397 60%, #dc2430 80%);
            background-size: 200% auto;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 12s linear infinite;
        }


    .btn-gradient a {
        background: linear-gradient(to right, #dc2430 20%, #7b4397 40%, #7b4397 60%, #dc2430 80%);
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 12s linear infinite;
    }

    .outline-none:focus {
        outline: none !important;
    }

    .g-font-sans-pro {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .g-font-kalam {
        font-family: 'Kalam', cursive;
    }

    .corsivo {
        font-family: 'Pacifico', cursive !important;
        font-size: 25px;
        text-shadow: 1px 1px 1px #42FFC7;
    }

    .txt-outline-info {
        border: 1px solid #17a2b8;
        color: #fff;
        background: transparent;
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }

    .txt-outline-info::placeholder {
        color: #17a2b8;
    }

    .txt-outline-info::placeholder::-webkit-input-placeholder {
        color: #17a2b8;
    }

    .txt-outline-info::placeholder:-moz-placeholder {
        color: #17a2b8;
    }

    .txt-outline-info::placeholder::-moz-placeholder {
        color: #17a2b8;
    }

    .txt-outline-info::placeholder:-ms-input-placeholder {
        color: #17a2b8;
    }

    .text-gold {
        color: #B29600;
    }

    .text-platinum {
        color: #a7b0c0;
    }

    .text-silver {
        color: #acacac;
    }


    .text-bronze {
        color: #cd7f32;
    }


    .text-orange {
        color: orange !important;
        text-shadow: 2px 2px 2px #000;
    }

    .text-orange-red {
        color: #cc3700 !important;
        text-shadow: 2px 2px 2px #000;
        !important;
        text-shadow: 2px 2px 2px #000;
    }

    .text-info {
        color: #17a2b8 !important;
    }

    .bg-lightgrey {
        background: #e9ecef;
        border: 1px solid #ced4da;
    }

    .bg-grey {
        background-color: gainsboro;
    }

    .bg-sky {
        background-color: #007BA7!important;
    }

    .bg-gradient-space-top-left {
        background-image: linear-gradient(to left top, #2c0537, #2c3c77, #0073af, #00acd6, #12e5eb);
        text-shadow: .5px .5px .5px #fff;
    }


    .bg-gradient-dark {
        background-image: linear-gradient(to top, #140a17, #1b1a2a, #1d293d, #183a4f, #084b5e);
    }

    .bg-lucid-black {
        background: #050607;
    }

    .bg-btn-plus {
        background-image: linear-gradient(to right bottom, #9dde27, #d8b800, #fe8b05, #ff584a, #ff2b7d, #f135a2, #d64ac5, #ad60e1, #7970e1, #4779d5, #1f7bc0, #227aa7);
    }

    .bg-beetlejuice {
        background-color: yellowgreen !important;
    }

    .bg-warning {
        background-color: yellow !important;
    }

    .bg-danger {
        background-color: orangered !important;
    }

    .bg-none {
        background: transparent !important;
    }

    .text-lightblack {
        color: #333;
    }

    .color-water {
        color: #51d9db;
        text-shadow: 2px 2px 2px #00727f;
    }

    .color-sky {
        color: #007BA7;
        text-shadow: 2px 2px 2px #00727f;
    }

    .color-azure {
        color: #17a2b8;
    }


    #navbar-brand {
        text-shadow: 1px 1px 1px #42FFC7;
        font-size: 22px;
        font-family: 'Pacifico', cursive;
        color: #000 !important;
        line-height: 10px;
        padding-right: 5px;
    }


    .navbar-expand-xl .navbar-nav .nav-link {
        padding: 3px;
        font-size: 11px;
        margin: 0px;
    }



    .cursor-pointer {
        cursor: pointer;
    }

    .cursor-arrow {
        cursor: default;
    }

    .icon-brand {
        width: 40px;
        height: 40px;
        border-radius: 90px;
    }

    .img-slide {
        height: 300px;
    }


    .img-slide-fluid {
        background-position: center;
        background-size: 100% 100%;
        width: 100px;
        height: 130px;
    }




    #listaContainer {
        overflow-y: auto;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 90px;
        border: 1px solid grey;
    }



    .carrello {
        position: relative;
        width: 100%;
        height: 200px;
        overflow-x: scroll;
        white-space: nowrap;
    }



    .carrello div {
        background-size: 100% 100%;
        background-position: center;
        width: 100px;
        height: 100px;
        margin-top: 40px;
        margin-left: 30px;
        transition: all 1s ease-in-out;
        display: inline-block;
    }

    .carrello div:hover {
        transform: scale(1.3);
    }

    footer img {
        transition: all 2s ease-out;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    footer img:hover {
        -moz-transform: rotate(360);
        -webkit-transform: rotate(360);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        transition: all 2s;
    }



    .shape {
        margin-right: 2em;
        margin-bottom: 0.5em;
        shape-outside: circle();
        height: 150px;
        width: 150px;
        /* border:2px solid red; */

        border-radius: 50%;
        /* margin: 15% auto; */
    }

    .menu-admin-icon-container {
        height: 110px;
        width: 110px;
    }

    .menu-admin-div {
        padding: 2rem;
        height: 100%;
        background: #050607;
    }

    .menu-admin-div:hover {
        background: #222;
    }

    .border-rainbow {
        max-width: 250px;
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, red, purple);
        padding: 3px;
    }



    @media (max-width: 767px) {
        #footer {
        text-align: center;
    }

    #contatti, #mapsite {
        margin: 0 auto;
        width: 80%;
        margin-left: 16%;
        text-align: left;
    }
}



@media (min-width: 845px) {
    footer {
        width: 100%;
    }
}

@media (min-width: 1092px) {

    .logo-container {
        text-align: center;
    }
}
