#sidebar ul::-webkit-scrollbar {
    background: transparent;
    border-radius: 0px;
}

#sidebar {
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 0px;
    text-align: center;
}

    #sidebar ul {
        width: 166px;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        height: 190px;
        overflow-y: scroll;
    }

        #sidebar ul li {
            cursor: pointer;
            padding-top: 4px;
            color: #fff;
            /* background: rgba(0, 0, 0, 0.5); */
            padding: 20px;
            border-bottom: 1px solid #fff;
        }

            #sidebar ul li:hover {
                /* border-left: 2px solid #007BA7;
  border-right: 2px solid #007BA7;
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-size: 20px; */
                background: rgba(255, 255, 255, 0.5);
            }

    #sidebar i {
        width: 37.5px;
        height: 40px;
        padding: 10px;
        line-height: 28px;
        margin-right: 10px;
        font-size: 20px;
        color: #ff0080;
    }

        #sidebar i:hover {
            background: rgba(255, 255, 255, 0.5);
        }
