
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

a {
    color: #000 !important;
}

.pimg1::before, .pimg2::before, .pimg3::before, .pimg4::before, .pimg5::before, .pimg6::before, .pimg7::before, .pimg8::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.1);
    -webkit-box-shadow: inset 1px 1px 121px -23px rgba(212,34,165,1);
    -moz-box-shadow: inset 1px 1px 121px -23px rgba(212,34,165,1);
    box-shadow: inset 1px 1px 121px -23px rgba(212,34,165,1);
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url("../Img/Background/img6.jpg");
    min-height: 900px ;
}

.pimg2 {
    background-image: url("../Img/Background/img1.jpg");
    min-height: 400px;
}

.pimg3 {
    background-image: url("../Img/Background/img7.jpg");
    min-height: 400px;
}

.pimg4 {
    background-image: url("../Img/Background/img8.jpg");
    min-height: 400px;
}

.pimg5 {
    background-image: url("../Img/Background/img9.jpg");
    min-height: 400px;
}

.pimg6 {
    background-image: url("../Img/Background/img2.jpeg");
    min-height: 400px;
}

.pimg7 {
    background-image: url("../Img/Background/img10.jpg");
    min-height: 400px;
}

.pimg8 {
    background-image: url("../Img/Background/img11.jpg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 25px 40px;
}

.section-light {
    background: #f4f4f4;
    color: #666;
}

.section-dark {
    background: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}



#testimonials i {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    cursor: pointer;
    background-color: #cc99ff;
    color: rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 11px 0px rgba(0,0,0,0.75);
    transition: all 1s ease-in-out;
}

    #testimonials i:hover {
        transform: scale(1.4);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
    }

#goDown {
    margin-top: 200px;
    font-size: 40px;
}

#up {
    position: fixed;
    z-index: 1;
    /* background: rgba(68,82,49,.7); */
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    text-align: center;
    bottom: 8px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    right: 15px;
    font-size: 22px;
    color: #d05b25;
}

#up .fas {
    line-height: 2 !important;
}


header {
    display: none !important;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 20;
}

@media (max-width: 767px) {

    header {
        display: block !important;
    }

    #sidebar {
        display: none;
    }

    .pimg1 {
        background-image: url("../Img/Background/img6.jpg");
        min-height: 70%;
    }

        .pimg1 .ptext {
            font-size: 1rem;
        }

    #goDown {
        margin-top: 100px;
    }

    .section {
        padding: 50px 40px;
    }

    footer {
        width: 100%;
    }
}
