@model Karaokedigital.Models.PlanModel

@{
    ViewData["Title"] = "DeletePlans";
}

<h1>DeletePlans</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    @if (!string.IsNullOrEmpty(@ViewBag.Response))
    {
        @if (@ViewBag.Response == "The plans has been deleted")
        {
            <div class="alert alert-info" role="alert">
                @ViewBag.Response
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Response
            </div>
        }

    }
    <hr />


    <form asp-action="DeletePlans">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Plans">Back to List</a>
    </form>
</div>
