@model Karaokedigital.Models.BossModel

@{
    ViewData["Title"] = "Index";
}

<h1>Home Page BO$$</h1>

<hr />
<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

