<style>

    .container {
        margin: 0px !important;
        padding: 0px !important;
    }
 
</style>
<footer class="border-top footer text-muted">

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="p-4 col-md-3 ">

                    <div class="logo-container">
                        <h2 class="mb-4">Karaokedigital</h2>
                        <p>Services for karaokist</p>
                        <img class="cursor-pointer logo" src="~/Img/Logo/mic.jpg" alt="microphone" width="100" height="100">
                    </div>
                </div>

                <div class="p-4 col-md-3">
                    <h2 class="mb-4">Mapsite</h2>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Home" asp-action="Index" class="home text-lightblack">Home</a></li>
                        <li><a href="" class="link-register text-lightblack">Register</a></li>
                        <li><a href="" class="link-customers text-lightblack">Area Clienti</a></li>
                        <li><a href="" class="link-verify text-lightblack">Verifica Dominio</a></li>
                        <li><a href="" class="link-work text-lightblack">Lavora con noi</a></li>
                        <li><a href="" class="link-plans text-lightblack">Piani Abbonamento</a></li>
                    </ul>
                </div>
                <div class="p-4 col-md-3">
                    <h2 class="mb-4">Contact</h2>
                    <p>
                        <a href="tel:3427239909">
                            <i class="fa d-inline mr-3 color-sky fa-phone"></i><span class="sunset">3427239909</span>
                        </a>
                    </p>
                    <p>
                        <a href="mailto:luxena@live.it">
                            <i class="fa d-inline mr-3 color-sky fa-envelope-o"></i><span class="sunset">@@luxena</span>
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            <i class="fa d-inline mr-3 fa-map-marker color-sky"></i><span class="sunset">Via Angioy, Portoscuso</span>
                        </a>
                    </p>
                </div>
                <div class="p-4 col-md-3">
                    <h2 class="mb-4">Subscribe</h2>
                    <form>
                        <fieldset class="form-group">
                            <label for="exampleInputEmail1">Get our newsletter</label>
                            <input type="email" class=" txt-outline-info" placeholder="Enter email">
                        </fieldset>
                        <button type="submit" class="float-right outline-none btn-gradient w-100 cursor-pointer"><div><span>Submit</span></div></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <p class="text-center text-info">&copy; Copyright 2022 Luxena - All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>


</footer>