@model Karaokedigital.Models.UserModel

@{
    ViewData["Title"] = "Index";
}


<style>
	.img-profile{
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.container-fluid {
		width:100%!important;
	}
</style>
<div>
	<partial name="NavBar" model="@Model"/>
</div>
