@model Karaokedigital.Models.UserModel

@{
    ViewData["Title"] = "Index";
}


<style>
	.img-profile{
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
</style>

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
	<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="sunset fas fa-microphone-alt"></i></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
		<div class="navbar-collapse collapse d-sm-inline-flex">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<div class="top-container">
						<img class="rounded-circle cursor-pointer img-profile" width="60" height="60" src="~/Images/Users/@Model.Username/@Html.DisplayFor(modelItem => Model.Img)" class="img-fluid profile-image">
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>





